<div>
  <form nz-form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>單位名稱</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="unitName" nzPlaceHolder="縣市">
              <nz-option *ngFor="let p of countyAndcity" [nzValue]="p" [nzLabel]="p"></nz-option>
            </nz-select>
            <nz-select formControlName="office" nzPlaceHolder="公所">
              <nz-option *ngFor="let c of office" [nzValue]="c" [nzLabel]="c"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>申請日期</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="filingDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>帳號</nz-form-label>
          <nz-form-control>
            <input nz-input type="text" formControlName="account">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>姓名</nz-form-label>
          <nz-form-control>
            <input nz-input type="text" formControlName="name">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>身分證號</nz-form-label>
          <nz-form-control>
            <input nz-input type="text" formControlName="idNumber">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>職稱</nz-form-label>
          <nz-form-control>
            <input nz-input type="text" formControlName="jobTitle">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>連絡電話</nz-form-label>
          <nz-form-control>
            <input nz-input type="number" formControlName="phone">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Email</nz-form-label>
          <nz-form-control>
            <input nz-input type="email" formControlName="email">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-table ngSkipHydration nzTemplateMode>
      <thead>
        <tr>
          <th nzAlign="center">勾選</th>
          <th nzAlign="center">系統別</th>
          <th nzAlign="center">使用權限</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td nzAlign="center"><input type="radio" formControlName="system" value="system1"></td>
          <td nzAlign="center">個案管理系統</td>
          <td nzAlign="center">系統管理者</td>
        </tr>
        <tr>
          <td nzAlign="center"><input type="radio" formControlName="system" value="system2"></td>
          <td nzAlign="center">個案管理系統</td>
          <td nzAlign="center">幹部管理</td>
        </tr>
      </tbody>
    </nz-table>
    <br>
    <div nz-row style="text-align: center;">
      <div nz-col nzSpan="24">
        <button nz-button type="submit" class="btn btn-success" [disabled]="addForm.invalid">新增</button>
        <button nz-button type="button" class="btn btn-secondary" (click)="addForm.reset()">清除</button>
      </div>
    </div>
    <nz-divider></nz-divider>
  </form>
  <nz-table ngSkipHydration nzTemplateMode>
    <thead>
      <tr>
        <th nzAlign="center">單位名稱</th>
        <th nzAlign="center">帳號</th>
        <th nzAlign="center">姓名</th>
        <th nzAlign="center">停用</th>
        <th nzAlign="center">修改/刪除</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let z of dataList; let i = index">
        <td nzAlign="center">{{z.unitName}} {{z.office}}</td>
        <td nzAlign="center">{{z.account}}</td>
        <td nzAlign="center">{{z.name}}</td>
        <td nzAlign="center"><nz-switch [ngModel]="z.enable" nzCheckedChildren="啟" nzUnCheckedChildren="停"></nz-switch></td>
        <td nzAlign="center">
          <button nz-button>修改</button>
          <button nz-button (click)="delete(z)">刪除</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
